<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos de Pulso</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pulso.css') }}">
</head>
<body>
    <div class="container">
        <h1>Datos de Pulso</h1>
        <table id="pulsos-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ritmo Cardíaco</th>
                    <th>SpO2</th>
                    <th>Fecha y Hora</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in pulso_data %}
                <tr>
                    <td>{{ dato.id }}</td>
                    <td>{{ dato.heart_rate }}</td>
                    <td>{{ dato.spo2 }}</td>
                    <td>{{ dato.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</body>
</html>
