<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}
            <h2>Iniciar Sesión</h2>
            <label for="username">Usuario:</label>
            {{ form.username(class="form-control", placeholder="Ingrese su usuario", required=True) }}

            <label for="password">Contraseña:</label>
            {{ form.password(class="form-control", placeholder="Ingrese su contraseña", required=True) }}

            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <p>¿No tienes cuenta? <a href="{{ url_for('registro') }}">Regístrate</a></p>
    </div>
</body>
</html>
