
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap" rel="stylesheet" />
    <script src="{{ url_for('static', filename='js/fetchtest.js') }}"></script>
    </head>

<body>
    {% include 'common/navbar_usuarios.html' %}


    <main id="main">
        <!-- Aquí se cargará el contenido dinámico -->
    </main>
    {% include 'common/footer.html' %}

    <script>
        // Llama a la función fetch_test cuando la página cargue
        document.addEventListener('DOMContentLoaded', function() {
            fetch_test();
        });
    </script>
</body>

</html>
