.actividades-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px 0;
    padding-left: 100px;
    padding-bottom: 10px;
}

.actividad {
    flex: 1 1 calc(33.33% - 20px); /* Calcula el tamaño para mostrar 3 actividades por fila */
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.actividad h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.actividad .descripcion {
    font-size: 1rem;
    color: #666;
    margin-bottom: 10px;
    max-height: 4.5em; /* Limit text to three lines */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actividad img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.actividad .video-responsive {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* 16:9 aspect ratio (height / width * 100) */
    overflow: hidden;
    border-radius: 8px;
}

.actividad .video-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.ver-mas-btn {
    background-color: #c91515;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px; /* Added space below the button */
    cursor: pointer;
    border-radius: 4px;
}

.ver-mas-btn:hover {
    background-color: #700000;
}

@media (max-width: 992px) {
    .actividad {
        flex: 1 1 calc(50% - 20px); /* Mostrar 2 actividades por fila en pantallas medianas */
    }
}

@media (max-width: 600px) {
    .actividad {
        flex: 1 1 calc(100% - 20px); /* Mostrar 1 actividad por fila en dispositivos móviles */
    }

    .actividad .video-responsive {
        padding-top: 75%; /* Ajusta el video en dispositivos móviles */
    }
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    color: #333;
}
