body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Color de fondo de respaldo */
    background-image: url('../img/backgound-pulse.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajuste la imagen para cubrir todo el fondo */
    background-position: center; /* Centrar la imagen en el fondo */
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo semitransparente */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin: auto;
}

h2 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left; /* Alineación del texto del formulario */
}

label {
    margin-bottom: 8px;
}

input[type="text"],
input[type="password"],
select {
    padding: 10px; /* Aumentar el padding para un mejor aspecto */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Ajustar el ancho para llenar el contenedor */
    box-sizing: border-box; /* Añadir para incluir padding en el ancho total */
}

select {
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns%3D%27http://www.w3.org/2000/svg%27 width%3D%2716%27 height%3D%2716%27 viewBox%3D%270 0 16 16%27%3E%3Cpath fill%3D%27%23000%27 d%3D%27M4 6l4 4 4-4z%27/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 12px 12px;
}

button[type="submit"] {
    background-color: #dc3545; /* Color de fondo rojo */
    color: #fff; /* Color del texto blanco */
    border: none;
    padding: 12px 24px; /* Aumentar el padding para un mejor aspecto */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%; /* Ajustar el ancho para llenar el contenedor */
    box-sizing: border-box; /* Añadir para incluir padding en el ancho total */
}

button[type="submit"]:hover {
    background-color: #c82333; /* Color de fondo rojo más oscuro al pasar el mouse */
}

a {
    text-decoration: none;
    color: #a0028b; /* Mantener el color azul original para los enlaces */
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
