.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

ul.consejos {
    list-style-type: none;
    padding: 0;
}

ul.consejos li {
    background-color: #f9f9f9;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.consejo-info {
    text-align: left;
}

.consejo-info h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.consejo-info p {
    margin: 5px 0 0;
    color: #666;
}
