<<<<<<< HEAD
/* Botón "Agregar música" */
.add-music-button {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #45AAB8;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-music-button:hover {
    background-color: #359aa8;
  }
  
  /* Sección Playlist */
  .playlist {
    text-align: center;
    margin: 0 auto;
  }
  
  .playlist h1 {
    font-size: 36px;
    font-weight: 700;
    color: #333333;
    margin-bottom: 20px;
  }
  
  /* Lista de reproducción */
  .playlist-list {
    list-style-type: none;
    padding: 0;
    max-width: 500px;
    margin: 0 auto;
  }
  
  .playlist-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
  }
  
  .song-title {
    font-size: 16px;
    color: #333333;
  }
  
  .play-button {
    padding: 5px 10px;
    background-color: #F76D57;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .play-button:hover {
    background-color: #e65b4c;
  }
  
=======
/* playlist.css */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 80px; /* Space for the navbar */
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.playlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

.playlist li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.playlist li:last-child {
    border-bottom: none;
}

.song-info {
    flex-grow: 1;
    margin-right: 20px;
}

.song-info h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.song-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

audio {
    width: 100%;
    max-width: 300px;
}

.playlist li:hover {
    background-color: #f9f9f9;
}

.playlist li.active {
    background-color: #e6f7ff;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .song-info {
        margin-right: 10px;
    }

    audio {
        max-width: 200px;
    }
}

@media (max-width: 480px) {
    .playlist li {
        flex-direction: column;
        align-items: flex-start;
    }

    audio {
        max-width: 100%;
    }
}
>>>>>>> 2cf6685fb92f98a6183019c4121bee7c357e18ba
